// Font
$font-family: 'Poppins', system-ui, sans-serif;

// Transform
$scale: 0.85;

// Colors
$color-white: #fff;
$color-black: #000;
$color-text: rgba(255,255,255,0.7);
$color-primary: #7229d9;
$color-secondary: #e052f2;

// Transition Time
$transition-time: 0.3s;

// App
$app-margin-top: 1rem;
$app-margin: $app-margin-top auto;

// Navbar > Buttons
$navbar-button-size: 2.5rem;
$navbar-height: $navbar-button-size;
$navbar-button-radius: 50%;
$navbar-button-bg: rgba(255,255,255,0.1);
$navbar-button-bg-hover: rgba(255,255,255,0.15);

// Weather
$weather-icon-size: 1.125rem;

// Blockquote Dvider
$blockquote-svg-size: 2rem;
$blockquote-dvider-size: 14rem;

// Search
$search-height: 3.5rem;
$search-width: 24rem;
$search-button-size: 3rem;
$search-button-svg-size: 1.125rem;